<ion-modal-view title="About">
  <ion-header-bar class="bar-dark">
    <buttons>
      <button class="button button-clear" on-tap="closeAbout()">
        Back
      </button>
    </buttons>
  </ion-header-bar>
  <ion-content>
    <h1>
      Kind
    </h1>
    <div>
      <p>
        A mobile application created by Michael Cane through the Ionic Framework that provides a time and stress management toolset for young people dealing with anxiety and depression.
      </p>
      <p>
        By providing a non-shaming Milestone driven achievement system and a continuous, but subtle, approach to the attention to the user's mental state this application should provide a tool for teens to properly deal with the stress they deal with on a day to day basis. Through guided mental and physical excersises this application will provide an unaggressive and non-fear-driven outlet for anxiety and depression.<br><br><br>
      </p>
    </div>
    <div>
      <p>
        version: 1.01.01
      </p>
    </div>
  </ion-content>
</ion-modal-view>
