<ion-modal-view view-title="Statistics">
  <ion-header-bar class="bar-dark">
    <buttons>
      <div class="title">
        Statistics
      </div>
      <button class="button button-clear bar-dark" on-tap="closeStat()">
        Back
      </button>
    </buttons>
  </ion-header-bar>

  <ion-content class="tree_background">
    <div class="item item-text-wrap opacity">
      <h2>
        Here is where the stats of the user will be shown, if I ever discover a way to save those stats and use them to create graphs.
        This is where they'll go.
      </h2>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-dark">
  </ion-footer-bar>
</ion-modal-view>
