<ion-view view-title="Status">
  <ion-header-bar class="bar-dark">
  </ion-header-bar>
  <ion-content class="tree_background">
    <div class="item item-text-wrap opacity">
      <h1>
        How are you <br>feeling today?
      </h1>
    </div>
    <div class="row">
      <div class="col col-33 button button-medium button-positive">
        Happy
      </div>
      <div class="col col-33 button button-medium button-positive">
        Sad
      </div>
      <div class="col col-33 button button-medium button-positive">
        Angry
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-33 button button-medium button-calm">
        Thoughtful
      </div>
      <div class="col col-33 button button-medium button-calm">
        Healthy
      </div>
      <div class="col col-33 button button-medium button-calm">
        Sick
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-33 button button-medium button-balanced">
        Scared
      </div>
      <div class="col col-33 button button-medium button-balanced">
        Bored
      </div>
      <div class="col col-33 button button-medium button-balanced">
        Embarrassed
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-33 button button-medium button-energized">
        Sick
      </div>
      <div class="col col-33 button button-medium button-energized">
        Hungry
      </div>
      <div class="col col-33 button button-medium button-energized">
        Surprised
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-33 button button-medium button-assertive">
        Sleepy
      </div>
      <div class="col col-33 button button-medium button-assertive">
        Ashamed
      </div>
      <div class="col col-33 button button-medium button-assertive">
        Annoyed
      </div>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-dark">
      <h1 class="title">## Milestones Today</h1>
      <div class="buttons">
        <button class="button button-clear icon ion-stats-bars" on-tap="statistics()"></button>
      </div>
    </ion-footer-bar>
</ion-view>
